div.ink-grid
  div.all-100.align-right.vertical-space
    input.button.primary.large( type='button', value='Logout' ng-click='logout()')
  div.column-group.push-center.push-middle  
    div.all-100.align-center
      h1 SUCCESS!!
      img(src="http://i.giphy.com/GA2FNpP1kAQNi.gif")
